h1 {
    color: rgb(206, 20, 219);
    background-color: aquamarine;
p{
    background-color: cadetblue;
}
}
h2{
    color: blue;
}
p{
    color: burlywood;
    background-color: rgb(97, 69, 130);
}
h3{
    color: coral;
}
p{
    color: chartreuse;
}
